/******************************************************************************/
/**************************** ONESIGNAL README CSS ****************************/
/******************************************************************************/



/************************ TYPOGRAPHY ************************/

/****** FONT FAMILIES ******/
body {
  font-family:'Proxima-Nova', 'Open Sans', sans-serif, system;
  letter-spacing:0.1px;
}
code { font-family:'Anonymous-Pro',Menlo, Monaco, Consolas, "Lucida Console", monospace; }
h1, h2, h3, h4 { font-family: 'Proxima-Nova', 'Open Sans'; }

/****** FONT WEIGHTS ******/
/** 700 BOLD **/
section#hub-content header h1,
section#hub-content header h2 { font-weight:700; }

/** 600 DEMI-BOLD **/
b, strong { font-weight:600; }
.content-body .magic-block-textarea ol,
.content-body .magic-block-api-header ol { font-weight:600; }
.content-body .magic-block-textarea h1,
.content-body .magic-block-api-header h1,
.content-body .magic-block-textarea h2,
.content-body .magic-block-api-header h2,
.content-body .magic-block-textarea h3,
.content-body .magic-block-textarea h4,
.content-body .magic-block-api-header h4 { font-weight:600; }
.magic-block-parameters .td h3.header-scroll { font-weight:600; }

/** 500 MEDIUM **/
a { font-weight:500; }


/** 400 REGULAR **/
/* Override: OL bolded numbers */
.content-body .magic-block-textarea ol p { font-weight:400; }


/****** FONT SIZES ******/
/** 30px SUPER LARGE **/
section#hub-content header h1,
section#hub-content header h2,
.content-body .magic-block-textarea h1,
.content-body .magic-block-api-header h1 { font-size:30px; }

/** 26px RATHER LARGE **/
.content-body .magic-block-textarea h2,
.content-body .magic-block-api-header h2 { font-size:26px; }

/** 22px MEDIUM **/
.content-body .magic-block-textarea h3,
.content-body .magic-block-textarea h3 code { font-size:22px; }

/** 18px HI-NORMAL **/
.content-body .magic-block-textarea h4 { font-size:18px; }

/** 16px NORMAL **/
.content-body .magic-block-textarea p { font-size:16px; }
.content-body .magic-block-textarea h4 code { font-size:16px; }
#hub-reference .hub-reference .hub-reference-section p,
#hub-reference .hub-reference .hub-reference-section ul,
#hub-reference .hub-reference .hub-reference-section table { font-size:16px; }
.content-body .magic-block-textarea ul li,
.content-body .magic-block-api-header ul li { font-size: 16px; }

/** 15px SLIGHTLY SMALLER **/
.content-body .magic-block-textarea ol li,
.content-body .magic-block-api-header ol li { font-size: 15px; }

/** 12px MUCH SMALLER **/


/****** LINE HEIGHTS ******/
p { line-height:1.8; }
.content-body .magic-block-textarea h2,
.content-body .magic-block-textarea h3 { line-height:1.4; }
.content-body .magic-block-textarea h4 { line-height:1.5; }

/****** FONT STYLES ******/
.content-body .magic-block-textarea h3,
.content-body .magic-block-textarea h4,
.content-body .magic-block-api-header h4 { font-style:normal; }
.magic-block-parameters .td h3.header-scroll { text-decoration: underline; }


/****** COLORS ******/
p { color:hsla(197,10%,45%,1); }
/* Links: AKA #72b1ca, our default link color. Using http://colorizer.org/ */
/* a { color:hsla(197,45%,62%,1); } */

.content-body .magic-block-textarea ol,
.content-body .magic-block-api-header ol { color:hsla(197,10%,60%,0.9); }

.content-body .magic-block-textarea h1,
.content-body .magic-block-api-header h1,
.content-body .magic-block-textarea h2,
.content-body .magic-block-api-header h2 { color:#555; }
.content-body .magic-block-textarea h3,
.content-body .magic-block-textarea h4 { color:hsla(197,10%,50%,1); }

nav#hub-sidebar ul a { color:#AAA; }

/* code block */
.content-body .magic-block-code { background:none; }
.content-body .magic-block-code div.block-code-code pre,
.content-body .magic-block-textarea pre,
.content-body .magic-block-api-header pre { background-color:hsla(197,15%,98%,1); }






/************************ MARGINS & PADDING *************************/
.content-body .magic-block-textarea h3 { margin:50px 20px 20px 0; }
.content-body .magic-block-textarea h3 code { margin:50px 20px 30px 0; }
.content-body .magic-block-textarea ul li,
.content-body .magic-block-api-header ul li { margin-bottom: 0.3em; }
.content-body .magic-block-textarea ol li,
.content-body .magic-block-api-header ol li { margin-bottom: 0; }
.content-body .magic-block-textarea ul,
.content-body .magic-block-api-header ul,
.content-body .magic-block-textarea ol,
.content-body .magic-block-api-header ol { margin-bottom:1.4em; }

/* h3s in tables, used in API reference; have to override readme's stupid !important */
section#hub-content #content-container section.content-body .magic-block-parameters .td h3.header-scroll {
  margin:10px 0 0 !important;
}

/** Readme.io list elements that aren't space by a space will not get a paragraph tag.
Readme.io also doesn't work with [the pseudo class :before](https://jsfiddle.net/hx37fqf9/),
so the only way to get styled numbers is to add an extra space to get paragraph tags in,
and style them with CSS **/
.content-body .magic-block-textarea ol p,
.content-body .magic-block-api-header ol p {
  margin-bottom: 0.3em;
  padding-left:10px;
}


/************************ BORDERS *************************/

/* Code-y style for API reference TODO
.content-body .magic-block-textarea h3 code {
  padding-top:30px;
  border-top:1px solid #EEE;
}
*/

/************************ CODE TABS ************************/

/*** DARK CODE BLOCK VARIANT ***/
.content-body .magic-block-code ul.block-code-header {
	background-color:hsla(197,10%,60%,1);
  color:#FFF;
}

.content-body .magic-block-code ul.block-code-header li a {
	font-size:14px;
  padding: 8px 15px 5px;
	color:hsla(0,0%,100%,0.5);
	font-weight:600;
  border-bottom:3px solid hsla(197,10%,60%,1);
}

.content-body .magic-block-code ul.block-code-header li a:hover {
	background-color:hsla(197,0%,100%,0.1);
	color:hsla(197,65%,90%,1);
  border-bottom:3px solid hsla(197,50%,80%,1);
}
.content-body .magic-block-code ul.block-code-header li a.active {
  background-color:hsla(197,0%,100%,0.15);
  color:#FFF;
  border-bottom:3px solid hsla(197,20%,45%,1);
}
.content-body .magic-block-code ul.block-code-header li a.active:hover {
	color:#FFF;
}

.content-body .magic-block-code div.block-code-code pre code {
	font-size:13.5px;
	line-height:20px;
	color:#444;
}

/*** margins ***/
.content-body .magic-block-code ul.block-code-header {
	margin:0 20px 0 31px;
	padding-left:0;
}
.content-body .magic-block-code div.block-code-code {
	padding:0 20px 20px 31px;
}
.content-body .magic-block-code ul.block-code-header li {
	margin-bottom:0;
}
.content-body .magic-block-code div.block-code-code pre,
.content-body .magic-block-textarea pre,
.content-body .magic-block-api-header pre {
	padding:20px 30px;
}

/************************ TABLES *************************/


.content-body .magic-block-parameters {
	margin:0 20px 40px 31px;
}

.content-body .magic-block-parameters .block-parameters-table {
	border-radius: 2px;
  border:0;
  background-color:hsla(197,15%,98%,1);
}
.content-body .magic-block-parameters .block-parameters-table .th {
  background-color:hsla(197,15%,95%,1);
  border:0;
  color:hsla(197,10%,60%,0.9);
  font-weight:600;
  padding:7px 15px;
}
.content-body .magic-block-parameters .block-parameters-table .tr:last-child .td {
	padding-bottom:10px;
}
/* best when table headers are same color as body:
.content-body .magic-block-parameters .block-parameters-table .tr:first-child .th {
	padding:10px 15px 15px;
}

.content-body .magic-block-parameters .block-parameters-table .tr:last-child .td {
	padding:5px 15px 10px;
}
*/

/* TODO: better way to standardize widths of tables */
/* .magic-block-parameters .block-parameters-table .td:first-child {
	width:220px;
}
*/

/**** DARKER TABLE VARIANT
.content-body .magic-block-parameters .block-parameters-table .th {
  background-color: #798F98;
  border:0;
  color: #fff;
}
.content-body .magic-block-parameters .block-parameters-table {
  border-radius: 3px;
  border:0;
  box-shadow: 0 1px 3px #BBB;
}
******/

/*** LIGHT CODE BLOCK VARIANT
.content-body .magic-block-code ul.block-code-header { background-color:#F9FAFA; }
.content-body .magic-block-code ul.block-code-header li a:hover { background-color:#E1EDF2; }
.content-body .magic-block-code ul.block-code-header li a.active { color:#333; }
.content-body .magic-block-code ul.block-code-header li a.active:hover { color:#81A8B8; }
***/



/************************ SPECIAL THINGS ************************/

/****** TAGS ******/
.tag-all {
	border-radius:5px;
	padding:8px 13px 6px;
	font-size:13px;
	color:#FFF;
	min-width:120px;
	display:inline-block;
	text-align:center;
  font-weight:600;
}
.tag-developers {
	background-color:hsla(197,10%,70%,1);
}
.tag-marketers {
	background-color:hsla(263,36%,62%,1);
}
.tag-advanced {
	background-color:hsla(197,2%,32%,1);
  color:hsla(197,2%,90%,1);
}
.tag-troubleshooting {
  background-color:hsla(35,80%,75%,1);
  color:hsla(25,40%,45%,1);
}



/****** LABELS ******/
.label-all {
  display:inline;
  font-size:12px;
  text-transform:uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.label-required    { color:hsla(359,75%,60%,1); }
.label-optional    { color:hsla(197,20%,72%,1); }
.label-recommended { color:hsla(197,15%,50%,1); }
.label-notrec      { color:hsla(34,60%,55%,1);  }
.label-developers  { color:hsla(197,15%,40%,1); }
.label-advanced    { color:hsla(197,2%,32%,1);  }
.label-default,
.label-yes         { color:hsla(140,20%,61%,1); }
.label-no          { color:hsla(0,20%,61%,1); }

/* Method/Function/etc Types below methods in API reference */
.label-type {
  display:block;
  margin:-10px 0 -3px 31px;
  color:hsla(197,20%,62%,1);
}
/* since iOS has a lowercase i and otherwise it looks like LOS */
.label-ios {
  color:#444;
  text-transform:none!important;
}
.label-android { color: #A4C639; }
.label-amazon { color: #FF9900 }
/* or their dark blue #232f3e */
.label-chrome { color: #15A760; }
.label-fireos,
.label-firefox { color: #FF9500; }
.label-safari { color: #0CC1E8; }
.label-edge,
.label-windows { color: #0078d7; }



/****** PLATFORM INSTRUCTION BLOCK *******/
.platform-instruction {
  border-radius: 3px;
  background-color: #fafafa;
  padding: 20px;
  margin-right: 100px;
}
.platform-instruction h5 {
  font-size:13px;
  text-transform:uppercase;
  font-weight:600;
  margin:0 0 10px;
}
/* duplicate their code block */
.platform-instruction code {
  background: rgba(96,105,113,0.1);
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  color: #555;
}


/****** DIRECT DASHBOARD LINKS ******/
/* Encoding SVGs following this guide: https://codepen.io/tigt/post/optimizing-svgs-in-data-uris */
/* Using this tool: https://jakearchibald.github.io/svgomg/ */
a.dash-link {
  background-color: hsla(196,40%,94%,1);
  padding:5px 6px 4px 23px;
  border-radius:5px;
  font-size:13px;
  font-weight:600;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16v-.7c2-.7 3.7-2.8 3.7-5.3 0-3-2.6-5.7-5.7-5.7C7 4.3 4.3 7 4.3 10c0 2.7 2 5 4.3 5.5v.6c-2.7-.6-4.8-3-4.8-6 0-3.4 2.8-6.2 6.2-6.2 3.4 0 6.2 2.8 6.2 6.2 0 2.8-1.8 5-4.3 6m1-6c0-1.6-1.4-3-3-3s-3 1.4-3 3c0 1.2.7 2 1.6 2.6v.6c-1.2-.5-2-1.7-2-3.2C6.5 8 8 6.5 10 6.5c2 0 3.5 1.6 3.5 3.5 0 1.2-.6 2.3-1.6 3v-.7c.5-.6 1-1.4 1-2.3M10 0C4.5 0 0 4.5 0 10c0 3.5 1.8 6.6 4.6 8.4L5 18h.4l.5-.4h.4c0-.2.2-.2.3-.3.2 0 .4 0 .6-.2h1.3c.2-.2.4-.2.6-.2V10.7h-.6v-1H11.4V17c1.4 0 2.8.6 4 1.4 2.8-1.8 4.6-5 4.6-8.4 0-5.5-4.5-10-10-10' fill='%23E54B4D' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-size:16px;
  margin-bottom:2px;
  cursor:pointer;
}
a.dash-link:hover {
  background-color:hsla(196,35%,89%,1);
}


/****** GITHUB GISTS ******/
/* TODO: determine if we are going to use gists */
.content-body .magic-block-html table td { border:0; }








/************************ README OVERRIDES *************************/

.hub-container { max-width:1400px; }
#content-container .content-body.grid-75 { width:80%; }
#content-container #content-toc.grid-25 { width:20%; }
section#hub-content #content-container section#content-toc { padding-left:12px; }

/* Readme lacks code block targeting outside p */
li code {
  background: rgba(96,105,113,0.1);
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  color: #555;
}

/*** LAYOUT OF REST API SECTION ***/
/** TODO: hid this element because its dumb **/
#hub-reference .hub-reference .hub-reference-section .hub-reference-right {
	background:none;
	border:0;
	display:none;
}
.content-body .magic-block-callout { margin:0 20px 3em 31px; }

/* Huge max width but necessary for readability */
#hub-reference .hub-reference .hub-reference-section { max-width:1200px; }


/***************** NAVIGATION *****************/

/****** LEFT NAVIGATION ******/

nav#hub-sidebar ul a { padding:8px 9px 6px; }

/* Make subpage backgrounds less wide to match rightmost width of main pages */
nav#hub-sidebar ul .subpages li a { width:224px; }

/* add a bit more space before next item */
nav#hub-sidebar ul .subpages li:last-child {
  margin-bottom:5px;
}
nav#hub-sidebar ul li.subnav-expanded .subpages {
  background-color: hsla(197,10%,96%,1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-right:13px;
}
nav#hub-sidebar ul li.subnav-expanded > a {
  background-color: hsla(197,10%,90%,1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color:#777;
}
/* Default back to readme standard hover */
nav#hub-sidebar ul li.subnav-expanded > a.active {
  background-color: #8a9599;
  color:#fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
nav#hub-sidebar ul a:hover {
  background-color: hsla(197,10%,90%,1);
  color: hsla(197,30%,50%,1);
}
nav#hub-sidebar ul a.active:hover {
  background-color: #8a9599;
  color: #FFF;
}



/* Proxima Nova made this mess up vertical spacing of text */
nav#hub-sidebar ul a .fa-chevron-right {
  padding-top:1px;
}
nav#hub-sidebar ul a.active .fa-chevron-right {
  margin-top:0px;
}


/****** TOP NAVIGATION ******/
#hub-subheader-parent #hub-subheader {
  border:0;
  background-color: hsla(197,10%,60%,1);
}
.theme-line header#hub-header #header-top {
  border:0;
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .hub-breadcrumb-item {
  color:hsla(197,5%,100%,0.5);
}
#hub-subheader-parent #hub-subheader #header-bottom-nav #header-icon-nav .icons .subheaderLink .icon {
  color:hsla(197,5%,100%,0.85);
}
/* Top Nav Text Links */
#hub-subheader-parent #hub-subheader #header-bottom-nav #header-icon-nav .icons .subheaderLink span {
  color:#FFF;
  font-weight:600;
}
#hub-subheader-parent #hub-subheader #header-bottom-nav #header-icon-nav .icons .subheaderLink:hover span,
#hub-subheader-parent #hub-subheader #header-bottom-nav #header-icon-nav .icons .subheaderLink:hover .icon {
  color:hsla(197,45%,85%,1);
}

/* Top Nav Tab highlight, matches style of code tabs */
#hub-subheader #header-bottom-nav #header-icon-nav .icons .subheaderLink.active {
  background-color: hsla(197,0%,100%,0.15);
  border-bottom: 3px solid hsla(197,20%,45%,1);
}
#hub-subheader-parent #hub-subheader #header-bottom-nav #header-icon-nav .icons .subheaderLink {
  padding: 8px 8px 2px;
  margin-right:10px;
}



/* Search box */
#hub-search input {
  background-color:hsla(197,10%,60%,1);
  border:0;
  font-weight:600;
  color:#FFF;
}

/* Search box hover with icon padding fixes */
#hub-search input,
#hub-search .searchbox.full input { padding-left:34px; }
#hub-search .searchbox.full input { font-size:16px; }
#hub-search .fa.fa-search { left:8px; }
#hub-search input:focus { background-color:hsla(197,10%,55%,1); }

/* Search icon colors and styling */
#hub-search .searchbox .fa.fa-search,
#hub-search .searchbox:hover .fa.fa-search,
#hub-search .searchbox.full .fa.fa-search {
  color:hsla(197,5%,100%,0.85);
  font-size:18px;
}
#hub-search input + .fa.fa-search,
#hub-search input:focus + .fa.fa-search,
#hub-search:hover .searchbox .fa.fa-search {
  color:hsla(197,45%,85%,1);
}

/* placeholder text: pseudoclasses for lightening it */
#hub-search input::-webkit-input-placeholder { color:hsla(197,5%,100%,0.75); }
#hub-search input::-moz-placeholder { color:hsla(197,5%,100%,0.75); }
#hub-search input::-ms-input-placeholder { color:hsla(197,5%,100%,0.75); }


/* Search box when full sized (after input) */
#hub-search .searchbox.full .fa.fa-search { color:#FFF; }
#hub-search-results ul li.activeSearch a {
  background-color:hsla(197,35%,92%,1);
  color:hsla(197,45%,65%,1);
}
#hub-search-results ul li.activeSearch a strong.hub-result-title,
#hub-search-results ul li.activeSearch a em,
#hub-search-results ul li.activeSearch a .hub-result-type,
#hub-search-results ul li.activeSearch a p {
  color:hsla(197,45%,60%,1);
}

#hub-search-results ul li a:hover {
  background-color:hsla(197,35%,97%,1);
  color:hsla(197,30%,70%,1);
}
#hub-search-results ul li a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#hub-search-results ul li a:hover strong.hub-result-title,
#hub-search-results ul li a:hover em,
#hub-search-results ul li a:hover .hub-result-type,
#hub-search-results ul li a:hover p {
  color:hsla(197,30%,70%,1);
}

/* Get rid of 'search results' text when searching */
#hub-search-results .hub-container h3 { display:none; }
#hub-search-results {
  padding-top:0;
  margin-top:0;
  border-top:0;
}






/* Not sure */
#hub-landing-top .btn { display:none; }


